<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/index.css') }}"
    />
  </head>
  <body>
    <h1>TASKS</h1>
    <form onsubmit="" id="task-form">
      <div class="task-manager">
        <div class="task-info">
          <label for="task-name">Task Name:</label>
          <input type="text" name="task-name" id="task-name" />

          <div class="bonus-task-info">
            <label for="task-deadline">Deadline:</label>
            <input type="date" name="task-deadline" id="task-deadline" />

            <label for="task-importance">Importance (1 - 3):</label>
            <input
              type="number"
              name="task-importance"
              id="task-importance"
              max="3"
            />
          </div>
        </div>

        <input type="submit" value="ADD" id="submit-btn" />
      </div>
    </form>
    <div class="task-list">
      <ul>
        {% for task in tasks %}
        <div class="list-row">
          <div class="task-element importance-{{ task.importance }}">
            <span id="task-name">{{task.name}}</span>
            <span id="task-deadline"
              >{{task.deadline_view if task.deadline_view != None else
              '//'}}</span
            >
          </div>
          <form
            id="delete-form"
            action="{{ url_for('delete_task', id=task.id) }}"
            method="post"
          >
            <button id="delete-btn" type="submit">
              <img
                src="{{ url_for('static', filename='img/trash-can.png') }}"
                alt="trash can"
              />
            </button>
          </form>
          <a href="{{ url_for('edit_task', edit_id=task.id) }}"
            ><img
              src="{{ url_for('static', filename='img/pencil.png') }}"
              alt="pencil icon"
          /></a>
        </div>
        {%endfor%}
      </ul>
    </div>
    <script src="{{ url_for('static', filename='js/task_form.js') }}"></script>
  </body>
</html>
